body {
    font-family: sans-serif;
    background-color:orange;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 150%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.bod
        {
            background-color:orange;
        }
        .image
        {
            height:200px;
            width:200px;
        }
        .head
        {
         color:green;    
        }

.footer
{
 text-align:right;
 font-size:20px;
 font-weight:bold;
}